


.inputSection label {
  width: 100%;
  height: 50px;
  background: rgb(9 26 27 / 92%);
  border: 1px dotted grey;
  border-radius: 10px;
  color: #9fbdbb;

  display: flex;
  align-items: center;
 padding-left: 35px;
}
.inputSection input{
    display: none;
}
.foldersvg{
    color: #E8A33D;
    position: relative;
    display: flex;
    top: 36px;
    left: 8px;
}
.inputSection button,
.downloadButton {
    display: inline-block;
    padding: 13px;
    margin-left: 10px;
    border: none;
    background: #f2ae47;
    color: #241705;
    border-radius: 5px;
    text-align: center;
    margin-top: 23px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}
