.outText{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 18px;
    padding-left: 14px;
    border-left: 3px solid #E8A33D;

}
.heading {
    font-size: 35px;
    color: white;
}

.herosection {
    margin-top: 20px;
    padding: 20px 200px 0;

}

.herotext {
    width: auto;
    color: #E8A33D;
    display: flex;
    margin-right: 10px;
    align-items: center;
}
.pdfbiggertext{
    font-size: 16px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.02em;
    /* margin: 0 0 22px; */
    color: white;
}
.biggertext h1 {
    font-size: 46px;
    line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin: 0 0 22px;
    color: white;
}
.calbiggertext h4{
    font-size: 30px;
     line-height: 1.08;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin: 0 0 22px;
    color: white;
}
.calbiggertext p{
     font-size: 16.5px;
    line-height: 1.7;
    margin: 0 0 32px;
    font-style: normal;
    color: #9FBDBB;
}

.biggertext h1 em {
    font-style: normal;
    color: #E8A33D;
}

.herosection hr {
    width: 20px;
    height: 1px;
    margin-right: 10px;

}

.biggertext p {
    font-size: 16.5px;
    line-height: 1.7;
    margin: 0 0 32px;
    font-style: normal;
    color: #9FBDBB;
}

.convertbutton {
    width: 95%;
    background: #E8A33D;
    color: #241705;
    padding: 14px;
    border: none;
    border-radius: 10px;
}
.signinbutton{
    width: 95%;
    background: #0E2426;;
    color: white;
    padding: 14px;
    border: 1px solid white;
    border-radius: 10px;
}
.signinbutton:hover{
    background-color: #153436;
}

.number{
    width: 25px;
    height: 25px;
    color: #E8A33D;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}
.text{
    font-size: 19px;
    margin-left: 10px;
    font-weight: 600;
    color: white;
}
.cardsection{
    width: 100%;
    background: #153436;
    border: 1px solid rgb(234 243 241 / 12%);
    border-radius: 20px;
    padding: 32px;
    box-shadow: var(--shadow);
    height: 100%;
}
.cardsection .uppertext{
   
    color: #9fbdbb;
    margin: 2px 0 0 43px;
    font-size: 13px;
}
.herosection .hrDevider{
    width: 100%;
    color: white;
    margin-top: 40px;
}
.lowertext{
    color: #9fbdbb;
    font-size: 13px;
}



